[user]
	name = Hata_Naoki
	email = hata@bitriver.jp
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Users/naoki/Desktop/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[core]
	excludesfile = /Users/naoki/.gitignore_global
[commit]
	template = /Users/naoki/.stCommitMsg
